body{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #A9A9A9;
  }

  h1{
    text-align: center;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    color: #00002D;
  }

  article{
    text-indent: 50px;
    padding-top: 20px;
  }
