body{
  background: #ccc;
  font-family: Helvetica;
}

.container{
  margin: 0 auto; /*top left bottom right OR TB LR*/
  width = 700px;
  background: #fff url('dip.jpg') no-repeat top center;
  padding-top: 200px;
  border-top: 10px solid #424242
}

article{
  padding-top: 20px 40px;
  background: #fff;
}

.recipe ul{
  list-style-type: square;
}

.recipe ol{
  list-style-type: upper-roman;
}

.recipe a:link{
  text-decoration: none;
}

.recipe a:visited{
  text-decoration: none;
}

.recipe a:hover{
  text-decoration: underline;
}

.recipe a:active{
  text-decoration: none;
}

.recipe a{
  padding-bottom: 30px;
}

.recipe h1{
  font-family: Courier;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 30px;
}
.recipe h2{
  letter-spacing: 2px;
  font-family: Courier;
}

.recipe p{
  line-height: 25px;
}
